<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if !params[:query].nil?%>
  <% if @search_results.empty? || params[:query].empty? %>
    <p> Sorry, no matches were found.</p>
  <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>

    <ul>
      <% @search_results.each do |chapter| %>
        <li>
          <h4><%= chapter[:name] %></h4>
          <ul>
            <% chapter[:paragraphs].each do |paragraph_number, paragraph| %>
              <li><a href="/chapters/<%= chapter[:number] %>#<%= paragraph_number %>"><%= bold_matching(paragraph, params[:query]) %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  <% end %>
<% end %>


